---
layout: default
---

<h1> Contact </h1>

<div class="row">
	<div class="col-md-8">
		<h2> Get in Touch </h2>
		
		{{ content }}
		<!-- This is the contact form, and will be forwarded to your email -->
		<form action="https://formspree.io/{{ site.email }}" method="POST" class="contact-form">
			{% for field in site.data.contact %}
				<p> <b> {{ field.text }} </b> </p>
				{% if field.isTextArea == true %}
					<textarea name="{{ field.name }}" class="submitField" rows="5"></textarea>
				{% else %}
					<input type="{{ field.type }}" name="{{ field.name }}" required="{{ field.required }}" class="submitField">
				{% endif %}
				<br/>
			{% endfor %}
			<br/>
			<div class="row"><input type="submit" value="Submit" id="submit"></div>
		</form>
	</div>

	<div class="col-md-4">
		<h2> Find Us </h2>
		{{ site.title }}
		<br>
		{{ site.address.street_name }}
		<br/>
		{{ site.address.city_state_zipcode }}
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-122.29980468750001%2C47.389401263868514%2C-122.18307495117189%2C47.46732507413988&amp;layer=mapnik"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=13/47.4284/-122.2414">View Larger Map</a></small>
	</div>
</div>